In [1]:
import pandas as pd

enrolments = pd.read_csv("data/courses snap_sales_funnel 2017-06-27T1636.csv")

In [2]:
enrolments.describe()

,Price,LclPrice,DaysEnroltoStartdate,DaysInvoicetoEnrol,DaysLeadtoEnroled,InvoiceAmountLcl,LeadID,SpeedtoLead,InstanceID
count,37546.000000,37546.000000,34315.000000,37546.000000,37546.000000,37546.000000,37546.000000,12643.000000,37546.000000
mean,6756.567277,6756.567277,24.470377,6.018218,47.380120,6542.522266,325193.736829,6.032633,19871.689954
std,7603.795313,7603.795313,32.811433,18.828199,80.427007,7018.317132,180553.605247,63.992772,8684.875378
min,750.000000,750.000000,-694.000000,0.000000,-16.000000,0.000000,30.000000,0.000000,209.000000
25%,3500.000000,3500.000000,6.000000,0.000000,8.000000,3500.000000,176235.500000,0.000000,12896.000000
50%,3950.000000,3950.000000,19.000000,0.000000,20.000000,3950.000000,321556.000000,0.600000,19126.000000
75%,9500.000000,9500.000000,39.000000,7.000000,49.000000,9500.000000,465454.250000,2.710000,27636.000000
max,130000.000000,130000.000000,270.000000,700.000000,1027.000000,130000.000000,681190.000000,2695.100000,39039.000000

In [4]:
enrolments.columns

Index(['Startdate', 'Enddate', 'Price', 'Metro', 'Course', 'Type', 'LclPrice',
       'DaysEnroltoStartdate', 'DaysInvoicetoEnrol', 'DaysLeadtoEnroled',
       'EnrolDate', 'CanceledDate', 'Email', 'ExpectedPayment',
       'InvoiceAmountLcl', 'ApplicationType', 'PardotCategory', 'Status',
       'Email.1', 'LeadID', 'OppCreatedDate', 'OppOwnerMetro', 'OppOwnerEmail',
       'PhoneValid', 'SpeedtoLead', 'CampaignSource', 'CampaignSourceCategory',
       'InstanceID'],
      dtype='object')

In [11]:
price = enrolments.LclPrice
enroltostart = enrolments.DaysEnroltoStartdate
metro = enrolments.Metro
course = enrolments.Course